* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

dialog {

    height: 48rem;
    width: 24rem;
    padding: 3rem 1rem 1rem;
    border: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}

dialog::backdrop {
    background-color: rgba(212, 132, 100, 0.678);
}

dialog>div {
    height: 100%;
    display: grid;
    grid-template: 1fr 3fr 10rem/ 1fr 1fr;
}

dialog h1 {
    font-size: 3rem;
    padding:0 3rem;
    grid-area: 1 / 1 / 2 / -1;
}
form {
    grid-area: 2 / 1 / 3 / -1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 0 3rem;
}

form label {
    display: block;
    margin: 0.5rem 0 0.2rem; 
}

form input {
    outline: none;
    height: 2rem;
    width: 100%;
    display: block;
    border: none;
    border-bottom: solid 1px #e92705;
}

form input:focus {

    background-color: #fdf1ee65
}

dialog button {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
    align-self:end;
    background-color: rgba(0, 0, 0, 0);
}

dialog button:hover {
    background-color: #ec3616;
}

button#create {
    justify-self: end;
}

button#close {
    justify-self: start;
}

#page {
    display: flex;
    height: 100vh;
    background-color: antiquewhite;
    overflow: hidden;

}

.side-bar {
    flex: 0 1 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: none;
}

.logo {
    height: 4rem;
    width: 100px;
    background-color: black;
}
.add {
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#add {
    font-size: 4rem;
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    border: none;
    background-color: black;
    color: antiquewhite;
}
#add:hover {
    border: none;
    background-color: #e92705;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    flex: 1 1 100%;
    border: none;
    overflow: hidden;
}
.top-bar {
    width: 100%;
    display: flex;
    flex: 0 0 4rem;
    border: none;
}

.bottom-main {
    width: 100%;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: start;
    overflow-y: scroll;
}

.bottom-main::-webkit-scrollbar {
    width: 6px;
}

.bottom-main::-webkit-scrollbar-track {
    border: none;
    background-color: none;
}

.bottom-main::-webkit-scrollbar-thumb {
    background-color: rgb(7, 7, 7); 
    border-radius: 5px;
}

.bottom-main::-webkit-scrollbar-thumb:hover {
    background: #e92705; 
}

.title {
    flex: 0 0 16rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    font-family: "Times New Roman";
    font-optical-sizing: auto;
    font-weight: 300;
}

.title h1 {
    font-size: 6rem;
    line-height: 5rem;
    margin: 0 auto;
}

.library-container {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 8rem;
    padding-right: 10rem;
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.book-container {
    display: grid;
    grid-template: 1fr 4rem/ 1fr 4rem;
    padding: 1rem;
    padding-right: 0.5rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 3px 5px 10px #cea9a0;
}

.book-container.complete {
    background-color: #f8492a;
}

.text-container {
    grid-area: 1/1/2/2;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.book-title {
    flex: 0;
    font-family: "Cormorant", "Times New Roman";
    font-weight: 700;
    font-size: 2.2rem;
    margin: 0 0 0.3rem;
}

.book-author {
    flex: 1;
    font-family: "Cormorant", "Times New Roman";
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0 0 0.5rem;
}

.text-container::-webkit-scrollbar {
    width: 0;
}

.page-container {
    flex: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.5rem;
    padding-bottom: 1.8rem;

}

.text-container p,
.text-container div {
    line-height: 1.5rem;
    margin: 0;
}

.book-cur-page {
    font-family: "Cormorant", "Times New Roman";
    font-weight: 700;
    font-size: 1.8rem;
    padding-top: 0.5rem;
    width: 80px;
    text-align: center;
    height: 2.5rem;
    border-bottom: 1px solid #e92705;
}

.book-total-page {
    font-family: "Cormorant", "Times New Roman";
    font-weight: 700;
    font-size: 1.8rem;
    position: relative;
    left: -40px;
}

.complete .book-total-page {
    font-family: "Cormorant", "Times New Roman";
    font-weight: 700;
    font-size: 1.3rem;
    left: 0;
    font-size: 1.3rem;
    padding-bottom: 0.8rem;
}

.slash {
    font-family: "Cormorant", "Times New Roman";
    font-weight: 700;
    font-size: 2.2rem;
    position: relative;
    left: -60px;
    top: 0.3rem;
}

.book-dec,
.book-inc {
    position: relative;
    left: -80px;
    height: 2.5rem;
    width: 40px;
}

.book-dec:hover {
    box-shadow: inset 40px 0 40px -40px #ec361673;
}

.book-inc:hover {
    box-shadow: inset -40px 0 40px -40px #a1ec1673;
}


.book-delete,
.book-read {
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    align-self: end;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.book-delete {
    grid-area: 2/1/-1/2;
}

.book-read {
    grid-area: 2/2/-1/-1;
    justify-self: center;
}

.book-delete:hover,
.book-read:hover {
    background-color: #f8492a;
    box-shadow: 1px 1px 3px #b9938d;
}

.complete .book-delete {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.complete .book-read {
    color: antiquewhite;
    border: none;
    background-color: #ec3616;
    box-shadow: inset 1px 1px 3px 1px #e92705;
}

.complete .book-delete:hover {
    background-color: #ec3616;
    box-shadow:inset 1px 1px 3px 1px #e92705;
}

.complete .book-read:hover {
    background-color: #e92705
} 

.book-container span {
    color: black;
    pointer-events: none;
    padding-top: 5px;
}

.complete .book-delete span,
.complete .book-read span {
    color: rgb(255, 255, 255);
}

.book-banner {
    font-family: "Alex Brush";
    font-weight: lighter;
    grid-area: 1/2/2/-1;
    writing-mode:vertical-rl;
    transform: rotate(180deg);
    color: white;
    font-size: 4.8rem;
    line-height: 3rem;
    margin: 0;
    overflow: visible;
    min-height: 0;
    justify-self: center;
}